@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
/* Just for developing*/
html {
  background-color: #111;
  color: white;
}

:root {
  --dark-background: #1f2937;
  --header-link-text: #e5e7eb;
  --header-logo-text: #f9faf8;
  --button-color: #3882f6;
  --call-to-action-color: #3882f6;
  --gallery-header-color: #1f2937;
  --hero-subtext-color: #e5e7eb;
  --quote-section-color: #e5e7eb;
  --quote-text-color: #1f2937;
}

/* Override defaults for a blank slate */
* {
  box-sizing: border-box;
  padding: 0px;
  margin: 0px;
  list-style: none;
  font-family: "Roboto", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-width: 100vw;
  min-height: 100vh;
}

/* Header Styling */
.header-bar {
  display: flex;
  padding: 5px 15%;
  background-color: var(--dark-background);
  align-items: center;
}

.header-logo {
  margin-right: auto;
  color: var(--header-logo-text);
  font-size: 24px;
}

.header-link-list {
  display: flex;
  gap: 15px;
  font-size: 18px;
  color: var(--header-link-text);
}

.header-link a,
.header-link a:visited {
  text-decoration: none;
  color: var(--header-link-text);
}

.hero-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--dark-background);
  flex-grow: 1;
}

/* Hero Section Styling */
.hero-section {
  display: flex;
  gap: 15px;
  width: 100%;
  padding: 0 15%;
}

.hero-text-container,
.hero-image-container {
  flex-basis: 50%;
}

.hero-image-container img {
  width: 100%;
}

.hero-text-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.hero-subtext {
  font-size: 18px;
  color: var(--hero-subtext-color);
}

.hero-header {
  font-size: 48px;
  font-weight: extra-bold;
  color: var(--header-logo-text);
}

button {
  width: fit-content;
  height: fit-content;
  padding: 5px 30px;
  background-color: var(--button-color);
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 5px;
}

.gallery-section-container {
  display: flex;
  background-color: white;
  flex-direction: column;
  flex-grow: 1;
  justify-content: center;
  align-items: center;
}

.gallery-header {
  color: var(--gallery-header-color);
  font-size: 36px;
  background: white;
  text-align: center;
}

.gallery {
  display: flex;
  gap: 15px;
}

.gallery-item {
  display: flex;
  flex-direction: column;
  color: black;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 150px;
}

.gallery-image {
  display: none;
}

.gallery-item-image-container {
  width: 100%;
  aspect-ratio: 1/1;
  border: 3px solid var(--button-color);
  border-radius: 15px;
}
}
