
/* Just for developing*/
html {
    background-color: #111;
    color: white;
}

:root {
    --dark-background: #1F2937;
    --header-link-text: #E5E7EB;
    --header-logo-text: #F9FAF8;

}

/* Override defaults for a blank slate */
* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    list-style: none;
}

body {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
    min-width: 100vw;
    min-height: 100vh;
}

.header-bar {
    display: flex;
    padding: 0 15%;
    background-color: var(--dark-background);
}

.header-logo {
    margin-right: auto;
    
}

.header-link-list {
    display: flex;
    gap: 15px;
}